:root {
    --main-color: #222;
    --sub-color: #999;
    --light: #eee;
}

html {
    height: 100%;
}

body {
    background-color: var(--light);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif
}

p {
    font-size: 130%;
}

a {
    text-decoration: none;
    color: peru;
    transition: all 0.5s ease-in-out;
    font-size: 110%;
}

a:hover {
    color: peru;
}


/* header, main layout */

header,
main {
    margin: 0 auto 0;
}



/* header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
}

.header h1 {
    font-size: 250%;
    line-height: 50px;
    color: var(--main-color);
    padding: 0 0.5em;
    font-family: 'Cedarville Cursive', cursive;
}

.header h1 span {
    color: var(--sub-color)
}

.header nav {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header nav ul li {
    padding: 0.2em 1em;
    letter-spacing: 1px;
}

.header nav ul li a {
    color: #aaa;
}

.header nav ul li a:hover {
    color: peru;
}



footer {
    text-align: center;
    padding: 2em auto;
    color: #b89b9b;

}

.copy-right {
    padding-bottom: 3em;

}

.copy-right p {
    line-height: 1.5;
    font-size: 120%;
    letter-spacing: 1px;
}

.cr {
    font-family: 'Cedarville Cursive', cursive;
}

/* about-me */

.about-me {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font);
}

.intro,
.avatar {
    flex: 1 1 0;
    text-align: center;
}

.intro {
    margin: 1em 1em 1em 4em;
}

.intro h2 {
    font-size: 300%;
    margin-bottom: 0.5em;
    line-height: 60px;
    color: peru;
    font-weight: 100;
    font-style: italic;
}

.intro p {
    line-height: 1.5;
    color: #b89b9b;
    letter-spacing: 1px;
}

.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
    border: 1px solid #fff;
}


/* contact-me */

.contact-me {
    padding: 1em 0 2em;
}

.contact-me li {
    display: inline-block;
}

.contact-me li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    margin: 0 0.5em;
    opacity: 0.5;
}

.contact-me li a:hover {
    opacity: 0.7;
}

.sm-github {
    background-image: url(../images/github.png);
}

.sm-linkedin {
    background-image: url(../images/linkedin.png);
}

.sm-email {
    background-image: url(../images/email.png);
}


/* work */

h2 {
    margin: 3rem 0 2rem;
    text-align: center;
    font-size: 250%;
    color: peru;
    font-weight: 100;
    font-style: italic;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.work-card {
    flex: 1 0 400px;
    margin: 0 1em 2em;
    transition: all 0.5s ease-in-out;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.work-card .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    display: block;
}

.work-card:hover .mask {
    background: rgba(0, 0, 0, .7);
    opacity: 0.7;
}

.work-card a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    display: block;
}

.work-card p {
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
    color: var(--light)
}

.card-header {
    font-size: 180%;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
    margin-bottom: 0.5em;
    color: var(--light);
}

.work {
    padding: 2rem 0 0 0;
}

.work-card:hover .card-header,
.work-card:hover p {
    color: #fff;
    transform: scale(110%);
    opacity: 1.0;
}

.work-card:hover {
    transform: scale(103%);
}

.work-card:hover a {
    opacity: 0;
}

.card-one {
    flex: 2 1 800px;
    background-image: url(../images/card-one.jpg);
}

.card-two {
    background-image: url(../images/card-two.jpg);
}

.card-three {
    background-image: url(../images/card-three.jpg);
}

.card-four {
    background-image: url(../images/card-four.jpg);
}

.card-five {
    background-image: url(../images/card-five.jpg);
}




/* modal */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.content {
    background: var(--light);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
}

.content header {
    background: var(--light);
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    text-align: center;
}

.content header h1 {
    font-weight: 100;
    font-size: 150%;
}

.content header nav ul li {
    border-right: 1px solid #bbb;
    padding-top: 0;
    padding-bottom: 0
}

.content header nav ul li:last-child {
    border-right: none;
}

.content img {
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 10px rgba(100, 100, 100, 0.3);
    max-width: 1000px;
}

.close {
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: peru;
    width: 140px;
    height: 40px;
    border: none;
    align-self: center;
    display: inline-block;
}


.refer li {
    display: inline-block;
}

.refer li a {
    display: inline-block;
    background: peru;
    color: #fff;
    border-radius: 6px;
    width: 60px;
    padding: 2px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0.5rem;
}

.project-img {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.portfolio-info {
    width: 100%;
    opacity: 1;
    text-align: center;
    padding: 1rem;
    color: #888;
    line-height: 1.5;
}

.badge-group {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.badge {
    background: #fff;
    display: inline-block;
    color: #999;
    box-shadow: -2px -2px 30px rgb(0 0 0 /6%);
    font-weight: 100;
    font-size: 120%;
    padding: 1rem 2rem;
    margin: 1rem;
}

/* responsive layout */

@media screen and (max-width:992px) {


    .code-card {
        width: 50%;
    }

    main {
        width: 98%;
    }

    .about-me,
    .projects {
        flex-direction: column;
        text-align: center;
    }



    p {
        font-size: 180%;
    }

    .intro {
        margin-left: 0;
        order: 1
    }

    .header nav ul {
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .header nav ul li a {
        font-size: 130%;
    }

    .header h1 {
        align-self: center;
    }

    .work-card {
        font-size: 150%;
    }

    .avatar {
        order: 0;
        margin-bottom: 2em;
        ;
    }

    main {
        margin: 0 auto 0;
        width: 98%
    }

    .contact-me li a {
        width: 50px;
        height: 50px;
    }

    .avatar img {
        width: 350px;
        height: 350px;
    }

    .badge {
        font-size: 200%;
    }
}



@media screen and (max-width:768px) {

    .about-me,
    .projects {
        flex-direction: column;
        text-align: center;
    }

    .card-one {
        flex: 1 0 400px;
    }

    p {
        font-size: 180%;
    }

    .intro {
        margin-left: 0;
        order: 1
    }

    .header nav ul {
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .header nav ul li a {
        font-size: 130%;
    }

    .header h1 {
        align-self: center;
    }

    .work-card {
        font-size: 150%;
    }

    .avatar {
        order: 0;
        margin-bottom: 2em;
        ;
    }

    main {
        margin: 0 auto 0;
        width: 98%
    }

    .contact-me li a {
        width: 50px;
        height: 50px;
    }

    .avatar img {
        width: 350px;
        height: 350px;
    }

    .badge {
        font-size: 200%;
    }
}